<% layout('layouts/boilerplate.ejs') %>
<div id="cluster-map" class="mb-3"></div>
<%- include('../partials/paginate.ejs') %> <% for (let campground of
campgrounds.docs) { %>
<div class="card mb-3">
	<div class="row">
		<div class="col-md-4">
			<% if (campground.images.length) { %>
			<img src="<%= campground.images[0].url %>" alt="" class="img-fluid" />
			<% } else { %>
			<img
				src="https://res.cloudinary.com/dwl4y3kmp/image/upload/v1655565598/Camp/dqwxyim1k9meptkykpzz.jpg"
				alt="campground"
				class="img-fluid"
			/>
			<% } %>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<p class="card-text"><%= campground.description %></p>
				<p class="card-text text-muted"><%= campground.location %></p>
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
					>View <%= campground.title %></a
				>
			</div>
		</div>
	</div>
</div>
<% } %> <%- include('../partials/paginate.ejs') %>

<script>
	const mapToken = '<%-process.env.MAP_TOKEN%>'
	const campgrounds = {features: <%- JSON.stringify(campgrounds.docs) %> }
</script>
<script src="/js/clusterMap.js"></script>
