<% layout('layouts/boilerplate.ejs') %>

<div class="row">
	<div class="col-6 offset-3">
		<div class="card mb-3">
			<img src="<%= campground.image %>" class="card-img-top" alt="..." />
			<div class="card-header">$<%= campground.price %>/night</div>
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<h5 class="card-subtitle text-muted mb-2">
					<%= campground.location %>
				</h5>
				<p class="card-text"><%= campground.description %></p>
				<div class="card-body">
					<a
						href="/campgrounds/<%= campground._id%>/edit"
						class="card-link btn btn-info"
						>Edit</a
					>
					<form
						action="/campgrounds/<%= campground._id %>?_method=delete"
						method="POST"
						class="d-inline"
					>
						<button class="btn btn-danger card-link">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<a href="/campgrounds">Back to all campgrounds</a>
